<%- include('./includes/navbar.ejs') %>

<div class="alert alert-dark" role="alert">
  <h1>Error <%= err.statusCode || 500 %></h1>
    <p><%= err.message %></p>
</div>

<%- include('./includes/footer.ejs') %> 