<% layout('layouts/boilerplate') %>

    <form action="http://localhost:3000/Login" method="POST">
        <h1>Login</h1>

        <label for="Username">Username</label>
        <input type="text" id="username" name="username"  required>
        <br><br>

     
        <label for="password">password:</label>
        <input type="password" id="password" name="password"  required>
        <br><br>

       
        <button type="submit">Login</button>
    </form>